@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/ValorantFont.ttf') format('truetype');
  }
  

nav{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-color: rgba(250, 68, 83, 0.631);
    width: 100vw; 
    margin: 0; 
    padding: 0;
}

h1{
    color: #1A233C;
    font-family:'CustomFont', sans-serif;
    margin-left: 1%;
}
ul{
    margin-right: 2%;
}
ul li {
    display:inline-block;
    font-family:'CustomFont', sans-serif;
    margin: 5px;
}
.link {
    font-family:'CustomFont', sans-serif;
    text-decoration: none; 
    color: white; 
}

.link-active {
    font-family:'CustomFont', sans-serif;
    text-decoration: none; 
    color: #1A233C; 
  }

  .official-valorant{
    font-family:'CustomFont', sans-serif;
    text-decoration: none; 
    background-color: #1A233C; 
    margin:10px;
    padding:10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-justify: center;
  }